@import '../abstracts/variables';
.btn {
	padding: 0.2rem 1rem;
	border-radius: 2px;
	border: 1px solid $color-pink;

	&:disabled {
		opacity: 0.5;
	}

	&-primary {
		background-color: $color-pink-pri;
		color: $color-white;
	}

	&-secondary {
		background-color: $color-pink-sec;
		color: $color-black;
	}
}
