$color-primary-darkest: #0c134f;
$color-primary-dark: #1d267d;
$color-primary-regular: #40128b;
$color-primary-light: #5c469c;
$color-primary-lightest: #d4adfc;

$color-white: #efefef;
$color-grey-light: #f7f7f7;
$color-black: #000;
$color-black-light: #020202;
