# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Excluded Directories
**/node_modules/
**/coverage/
**/resource/
**/dist
**/dist-ssr
**/db/


# Excluded file Extensions
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Excluded files
**/keys.js
**/someObj.js


# --- Others ---
Core/wdb/17/index.html
Core/wdb/17/index.html
Core/wdb/17/script.js
Core/wdb/17/style.css
CSS/acs/DTour/img/
**/site02/img/
learnAngular/pluralSight/02 fundamentals/projectFiles/
BoilerPlate_setUp/
learnAngular/la/src/libs/
tools/chromeDev/mastering-chrome-devtools/
material/mdc/material-components-web-codelabs/
Node/FM_introToNode/gitRepoClone

