.card {
	&__row {
		display: flex;
	}

	&__container {
		flex-grow: 1;
		min-height: 100%;
		background-color: beige;
		border-radius: 3px;
		max-width: 30%;
		min-width: 30%;
		padding: 1rem;
		margin-right: 3%;
		box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.2);
	}

	&__title {
		font-size: 3rem;
		margin-bottom: 1rem;
	}

	&__details {
		font-size: 2rem;

		&--highlight {
			font-weight: 800;
			margin-top: 1rem;
		}
	}
}
