body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.7;
    color: #777777;
    padding: 2rem;
    box-sizing: border-box;
}

.heading-primary {
    color: #ffffff;
    text-transform: uppercase;
    margin-bottom: 5rem;
    backface-visibility: hidden;  /* To fix bugs related to animations */

    &--main {
        display: block;
        font-size: 6rem;
        font-weight: 400;
        letter-spacing: 3.5rem;

        animation-name: moveInBottom;
        animation-duration: 1s; 
        animation-timing-function: ease-out;
        animation-delay: 1s;
        animation-fill-mode: backwards;

        /* 
        Short-hand > animation: moveInBottom 1s ease-out;

        animation-delay: 2s;
        animation-iteration-count: 2;
         */
    }

    &--sub {
        display: block;
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 1.74rem;

        animation-name: moveInUp;
        animation-duration: 1s;
        animation-delay: 1s;
        animation-fill-mode: backwards;
    }    
}

.heading-secondary {

    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    background-image: linear-gradient(to right, $lightGreen, $darkGreen);
    display: inline-block;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;

    color: transparent;
    letter-spacing: .2rem;
    transition: all .2s;
/*     text-shadow: .2rem .5rem .3rem rgba($color-black, 0.2); */    


    &:hover {
        -webkit-text-shadow: .2rem .5rem .7rem rgba($color-black, 0.2);
        -moz-text-shadow: .2rem .5rem .7rem rgba($color-black, 0.2);
        -ms-text-shadow: .2rem .5rem .7rem rgba($color-black, 0.2);
        -o-text-shadow: .2rem .5rem .7rem rgba($color-black, 0.2);
        text-shadow: .2rem .5rem .7rem rgba($color-black, 0.2);
        transform: translateY(-0.1rem);
    }

}

.heading-tertiary {
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase;
}

.paragraph {
    font-size: 1.6rem;

    &:not(:last-child) {
        margin-bottom: 3rem;
    }
}