.u-center-text { text-align: center !important; }

.u-margin-bottom-med { margin-bottom: 8rem !important; }

.u-margin-bottom-sm { margin-bottom: 2rem !important;}


.u-margin-top-mid { margin-bottom: 8rem !important;}

.u-padding-left-sm { padding-left: 2rem !important;}

