@mixin display-block {
	display: block;
}

@mixin backface-visibility {
	backface-visibility: hidden;
}

@mixin colored-text($color: $color-gradient-green) {
	color: transparent;
	-webkit-background-clip: text;
	background-clip: text;
	background-image: $color;
}
