@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap");
.heading__primary {
  font-size: 5rem; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-size: 62.5%;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  background-color: #020202;
  min-height: 100vh; }

.search {
  display: flex;
  position: relative;
  justify-content: center; }
  .search__input {
    flex-grow: 1;
    background-color: #111111;
    padding-left: 0.5rem;
    height: 3rem;
    font-size: 2rem;
    color: #dfdfdf;
    border-top: none;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #333333; }

.section__results {
  margin: 1rem 9rem; }

.results {
  position: relative; }
  .results__error {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4rem;
    color: #dfdfdf; }
    .results__error h3 {
      padding-top: 10rem; }
  .results__list {
    display: flex;
    flex-wrap: wrap; }
  .results__list-item {
    border: 2px solid #333333;
    display: flex;
    margin: 0.5rem;
    width: 18.8%;
    flex-direction: column;
    max-height: 30rem;
    justify-content: center; }
    .results__list-item .item__img {
      max-height: 25rem;
      overflow: hidden; }
      .results__list-item .item__img img {
        margin: 0 auto;
        display: block;
        backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        -webkit-transform: translateZ(0) scale(1, 1);
        transition: all 0.5s ease; }
    .results__list-item .item__movie {
      background: #333333;
      padding: 0.5rem;
      display: flex;
      flex-direction: column;
      color: #dfdfdf; }
      .results__list-item .item__movie--name {
        font-size: 1.5rem; }
      .results__list-item .item__movie--year {
        font-size: 1.1rem; }
    .results__list-item:hover .item__img img {
      transform: scale(1.02); }

[class^='btn-'] {
  width: 3rem;
  border: 1px solid transparent;
  border-radius: 5px; }

.btn-search {
  margin: 5px 5px 5px -3.3rem;
  background-color: #264653;
  color: #e76f51; }
  .btn-search:hover {
    color: #f4a261;
    background-color: #2a9d8f; }

.movie {
  margin: 2rem 5rem; }

.header {
  display: flex;
  padding: 1rem; }
  .header .hero {
    flex-grow: 1; }
    .header .hero__poster {
      display: flex;
      justify-content: center;
      position: relative; }
      .header .hero__poster-img {
        border-radius: 5px;
        overflow: hidden; }
        .header .hero__poster-img > img {
          border-radius: 5px;
          display: inline-block; }
      .header .hero__poster-img--background {
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        position: absolute;
        z-index: 100;
        display: flex;
        justify-content: center;
        display: none; }
  .header .header-details {
    flex-grow: 1;
    max-width: 60%;
    padding-top: 1rem;
    padding-left: 2rem; }
    .header .header-details .details__title {
      font-size: 2rem;
      font-weight: bold;
      text-transform: uppercase;
      color: #dfdfdf; }
    .header .header-details .details__genre {
      display: flex;
      color: #dfdfdf; }
      .header .header-details .details__genre-item {
        margin-right: 0.5rem;
        padding: 0.25rem 0.5rem;
        border-radius: 5px;
        border: 1px solid #dfdfdf;
        backdrop-filter: blur(0.5rem); }
      .header .header-details .details__genre-item-name {
        font-size: 1rem; }
    .header .header-details .details__info {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around; }
      .header .header-details .details__info .info__container {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-grow: 1;
        border: 1px solid #626262;
        border-radius: 0.5rem;
        margin: 0.5rem 0.5rem 0.5rem 0;
        padding: 3rem 1rem;
        min-width: 8rem;
        font-weight: bold; }
        .header .header-details .details__info .info__container .info__title {
          position: absolute;
          left: 0.5rem;
          font-size: 1rem;
          color: #626262;
          transform: rotate(-90deg) translateY(-50%);
          text-transform: uppercase; }
        .header .header-details .details__info .info__container .info__detail {
          flex-grow: 1;
          text-align: center;
          font-size: 1.2rem;
          color: #dfdfdf; }
