<!DOCTYPE html>

<html>

<head>
    <title>Weather</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/js/script.js"></script>
</head>

<body>
    <div class="main-content">
        {{>header}}

        <p>Use this site to get your weather!</p>

        <input type="text" value="" placeholder="Your location here.." id="location-input">
        <button type="submit" onclick="submit()">Submit</button>

        <div id="weather-details"></div>
    </div>


    {{>footer}}
</body>

</html>