
/* SCSS file Imports */
@import "abstracts/functions";
@import "abstracts/variables";
@import "abstracts/mixins";

@import "base/animations";
@import "base/base";
@import "base/typography";
@import "base/utilities";

@import "components/button";
@import "components/btn--white";
@import "components/composition";
@import "components/feature-box";
@import "components/card";
@import "components/btn--green";

@import "layout/heading-box";
@import "layout/header";
@import "layout/grid";

@import "pages/home";
/*  --- R E S O U R C E S --- */
 
/*
// COLOR

    lightGreen : #7ed56f
    mediumGreen: #55c57a
    DarkGreen:   #28b485


font-family: 'Lato', sans-serif;

*/
