$lightGreen : #7ed56f;
$medGreen : #55c57a;
$darkGreen : #28b485;

$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;

//  G R I D
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;