<!DOCTYPE html>
<html lang="en" ng-app="app">

<head>
    <meta charset="UTF-8">
    <title>Angular: Get started</title>

    
    <!--  ANGULARJS CDN-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.js"></script>
    
    <script src="app.js"></script>
    
    <script src="github.js"></script>

    <script src="script.js"></script>
    <link rel="stylesheet" href="style.css">
</head>

<body ng-controller="MainController">
    <h1>{{message}}</h1> {{countdown}}
    <form name="searchUser">
        <input type="search" placeholder="username to find" ng-model="username">
        <input type="submit" value="search" ng-click="search(username)">
    </form>
    
    <div ng-include="'userDetail.html'" ng-show="gitUser">
        
    </div>

</body>

</html>