.nav {
	background-color: var(--color-black);
	height: var(--height-header);
	display: flex;
	flex-direction: column;
	justify-content: center;

	&__nav-bar {
		display: flex;
		justify-content: space-between;
	}
	&__brand {
		display: flex;
		flex-basis: 30%;
		// margin-left: 5rem;
		justify-content: center;
		text-transform: uppercase;
		&-name {
			display: flex;
			&--white {
				font-size: 2rem;
				color: var(--color-white);
				align-self: center;
			}
			&--primary {
				font-size: 3rem;
				color: var(--color-first);
			}
		}
	}
	&__menu {
		flex-basis: 40%;
		display: flex;
		justify-content: space-between;
		color: var(--color-text);
		margin-left: 2rem;
		margin-right: 10rem;
		&-item {
			align-self: center;
			transition: all 0.2s ease-in;

			&:hover {
				color: var(--color-first);
			}
		}
	}

	&__theme-button {
		align-self: center;
		&-sun {
		}
		&-moon {
		}
	}
}
