

div.container a {
    margin: 4rem auto;
    display: inline-block;
}

div ul {
    color: red;
}

div ul li:first-child{
    color:blue;
}
div ul li:last-child{
    color: green;
}

div ul li:nth-child(4){
    color: yellow;
}

div ul li:nth-child(3n) {
    color:orange;
}

div ul li:first-letter{
    font-size: 20px;
}