html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  font-size: 10px; }

.section__gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1rem 10rem; }
  .section__gallery .gallery__img-box {
    display: flex;
    justify-content: center;
    margin: 1rem;
    width: 50rem;
    height: 50rem;
    flex-grow: 1; }
    .section__gallery .gallery__img-box .gallery__img-link {
      align-self: center;
      max-width: 49rem; }

.section__search {
  display: flex;
  justify-content: center;
  background-color: bisque;
  padding-top: 5rem;
  padding-bottom: 5rem; }
  .section__search label {
    display: block;
    font-size: 2rem;
    font-weight: bold;
    line-height: 3rem;
    margin-right: 1rem; }
  .section__search select {
    width: 10%;
    height: 3rem;
    border: 1px solid grey;
    font-size: 1.5rem;
    font-family: inherit;
    cursor: inherit;
    line-height: inherit;
    margin-right: 1rem; }
  .section__search button {
    height: 3rem;
    border-radius: 3px;
    color: white;
    font-weight: bold;
    letter-spacing: 1px;
    background-color: green;
    border: 1px solid green; }
