.App {
    text-align: center;
}

.button {
    padding: 1rem 2rem;
    border: 1px solid gray;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
    font-size: 1.5rem;
    margin-bottom: 2rem;
    font-weight: 600;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}
