<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Location Store</title>

    {{!-- CSS Files --}}
    <link rel="stylesheet" src="/css/skeleton.css">
    <link rel="stylesheet" src="/css/style.css">
</head>
<body>

    {{> navigation}}

    <h1>About us</h1>
    <p>We are here to help you and solve your location issues.</p>

    {{> footer}}

    <script src="/js/script.js"></script>
</body>
</html>