.btn--green {
    background-color: $darkGreen;
    color: $color-white;
    
    &-animation {
    animation-name: headingWhiteBtn;
    animation-delay: 1.5s;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-fill-mode: backwards;
    }


    &::after {
        background-color: $darkGreen;
        

    }

    &:hover {
        color: $color-white;
    }
}