.section__gallery {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 1rem 10rem;

	& .gallery__img-box {
		display: flex;
		justify-content: center;
		margin: 1rem;
		width: 50rem;
		height: 50rem;
		flex-grow: 1;

		& .gallery__img-link {
			align-self: center;
			max-width: 49rem;
		}
	}
}
