* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	padding-left: 1rem;
	padding-right: 1rem;
}

// a:link,
// a:visited {
// 	color: $color-black-light;
// 	text-decoration: none;
// }
