.header {
	background-image: $color-gradient-green, url('../../../img/hero.jpg');
	background-position: center;
	background-size: top;
	height: 95vh;
	clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
	position: relative;

	& .logo-box {
		position: absolute;
		top: 2rem;
		left: 2rem;

		& .logo {
			width: 5rem;
		}
	}
	& .heading {
		position: absolute;
		top: 40%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-align: center;
	}
}
