// Colors
$color-orange: #ff724a;
$color-orange-light: #ff9c80;
$color-white: #fff;
$color-black: #111;
$color-grey: #333;
$color-pink-pri: #b3005e;
$color-pink-pri-light: #e8a0bf;
$color-pink-sec: #ff5f9e;
$color-pink-sec-light: #f7c8e0;
$color-pink: #c46;
$color-beige: beige;
