/* Google fonts

// Blog example
font-family: 'Indie Flower', cursive;
font-family: 'Open Sans', sans-serif;
font-family: 'Pangolin', cursive;

font-family: 'Indie Flower', cursive;
font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Raleway', sans-serif;

 */

