<!DOCTYPE html>
<html ng-app="app">

<head>

    <!-- StyleSheets here -->

    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">

    <!-- Scripts here here -->
    <script type="text/javascript" src="libs/angular/angular.js"></script>
    <script type="text/javascript" src="libs/jquery/jquery-3.2.1.js"></script>
    <script type="text/javascript" src="js/bootstrap.js"></script>

    <!-- Angular App -->
    <script type="text/javascript" src="angular/index.js"></script>

    <!-- Angular Factories -->
    <script type="text/javascript" src="angular/factories/factories.js"></script>

    <!-- Angular Services -->
    <script type="text/javascript" src="angular/services/services.js"></script>

    <!-- Angular Controllers-->
    <script type="text/javascript" src="angular/controllers/MainController.js"></script>

    


    <!-- CUSTOM SCRIPTS -->
    <script type="text/javascript" src="js/main.js"></script>


    <title>Form Documentation</title>
</head>
<h2 class="text-center">Angular Form Documentation</h2>
<body ng-controller="MainController">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            
            <!-- ng-model -->
            <div class="panel panel-primary">
                <div class="panel-heading"><h5>ng-model</h5></div>
                <div class="row">
                    <div class="col-md-8">
                        <div>
                            <h3>ng-model</h3>
                            <p>It stores the form field and bind it to the controller scope</p>
                            <input type="text" ng-model="form.carType"/>
                            <input type="checkbox" ng-model="form.hasTurbo"/>
                            <br>
                            <p>{{form}}</p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- ng-disabled -->
            <div class="panel panel-primary">
                <div class="panel-heading"><h5>ng-disabled</h5></div>
                <div class="row">
                    <div class="col-md-8">
                        <div>
                            <h3>ng-disabled</h3>
                            <p>Disabled the form field if expression is true</p>
                            <input type="text" ng-model="disabledForm.name" ng-disabled="disabledForm.disableName"/>
                            <input type="checkbox" ng-model="disabledForm.disableName"/>
                            <br>
                            <p>{{disabledForm}}</p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- ng-submit -->
            <div class="panel panel-primary">
                <div class="panel-heading"><h5>ng-submit</h5></div>
                <div class="row">
                    <div class="col-md-8">
                        <div>
                            <h3>ng-submit</h3>
                            <p>Submits the form calling function in scope</p>
                            <form ng-submit="submitFunc();">
                                <label for="submitName">Name:</label>
                                <input type="text" id="submitName" ng-model="submitForm.id" /><br>
                                <label for="hasID">has ID:</label>
                                <input type="checkbox" id="hasID" ng-model="submitForm.hasId"/><br>
                                
                                <input type="submit" value="submit form" class="btn btn-primary">
                                <div class="alert alert-danger" ng-show="submitForm.error != undefined">{{submitForm.error}}</div>
                            </form>
                            
                        </div>
                    </div>
                </div>
            </div>

            <!-- Checkbox -->
            <div class="panel panel-primary">
                <div class="panel-heading"><h5>Checkboxs</h5></div>
                <div class="row">
                    <div class="col-md-8">
                        <div>
                            <h3>Checkboxs</h3>
                            <p>The various ways to define the value returned when the checkbox is checked or not</p>
                            <label for="cb1">True / False: </label>
                            <input type="checkbox" id="cb1" ng-model="checkbox.cb1" />
                            <br>
                            <label for="cb2">Y / N: </label>
                            <input type="checkbox" id="cb2" ng-model="checkbox.cb2" ng-true-value="'Y'" ng-false-value="'N'"/>
                            <br>
                            <label for="cb3">Going / Not Going: </label>
                            <input type="checkbox" id="cb3" ng-model="checkbox.cb3" ng-true-value="'Going'" ng-false-value="'Not Going'"/>
                            <br>
                            {{checkbox}}
                            <br>
                        </div>
                    </div>
                </div>
            </div>

            <!-- ng-options -->
            <div class="panel panel-primary">
                <div class="panel-heading"><h5>Options</h5></div>
                <div class="row">
                    <div class="col-md-8">
                        <div>
                            <h3>Options</h3>
                            <p>Loads options in a drop down sourced by JSON Array</p>
                            <label for="manual">Manual dropdown: </label>
                            <select name="" id="manual"
                                            ng-model="dropdown.manual">
                                <option value="1">This is One</option>
                                <option value="2">This is Two</option>
                                <option value="3">This is Three</option>
                                <option value="4">This is Four</option>
                            </select>
                            <br>
                            {{dropdown.manual}}
                            
                            <br>
                            <label for="fromArray">Array Dropdown: </label>
                            <select name="" id="fromArray"
                                            ng-model="dropdown.fromArray"
                                            ng-options="item as item.name for item in dropdownArray">
                            </select>
                            <br>
                            {{dropdown.fromArray}}
                            <br>
                            <label for="singleValueFromArray">Single value Array Dropdown: </label>
                            <select name="" id="singleValueFromArray"
                                            ng-model="dropdown.singleValueFromArray"
                                            ng-options="item.value as item.name for item in dropdownArray">
                            </select>
                            <br>
                            {{dropdown.singleValueFromArray}}
                            <br>

                        </div>
                    </div>
                </div>
            </div>

            <!-- Select default option -->
            <div class="panel panel-primary">
                <div class="panel-heading"><h5>Default selection in Dropdown</h5></div>
                <div class="row">
                    <div class="col-md-8">
                        <div>
                            <h3>Dropdown - Selecting default option</h3>
                            <p>Selecting the default options for different types of dropdown</p>
                            <label for="manualSelected">manualSelected dropdown: </label>
                            <select name="" id="manualSelected"
                                            ng-model="default.manual">
                                <option value="1">This is One</option>
                                <option value="2">This is Two</option>
                                <option value="3">This is Three</option>
                                <option value="4">This is Four</option>
                            </select>
                            <br>
                            {{default.manual}}
                            
                            <br>
                            <label for="fromArraySelected">Array Dropdown: </label>
                            <select name="" id="fromArraySelected"
                                            ng-model="default.fromArray"
                                            ng-options="item as item.name for item in dropdownArray">
                            </select>
                            <br>
                            {{default.fromArray}}
                            <br>
                            <label for="singleValueFromArraySelected">Single value Array Dropdown: </label>
                            <select name="" id="singleValueFromArraySelected"
                                            ng-model="default.singleValueFromArray"
                                            ng-options="item.value as item.name for item in dropdownArray">
                            </select>
                            <br>
                            {{default.singleValueFromArray}}
                            <br>

                        </div>
                    </div>
                </div>
            </div>

        <!-- Code above here -->
        </div>
    </div>
</body>

</html>