/* Utility Classes */
.float-left {
	float: left;
	clear: both;
	margin: 0 1rem 1rem 0;
}

.float-right {
	float: right;
}

.inline-block {
	display: inline-block;
}

/* Semantics Defaults */
article {
	width: 30rem;
	border: 1px solid gray;
	margin: 0 auto;
	padding: 2rem 1rem;
}

.p-float:after {
	display: table;
	content: "";
	clear: both;
}
