html {
	box-sizing: border-box;
}
*,
*:before,
*:after {
	box-sizing: inherit;
	--color-pink: #da0090;
	--color-red: #a51f10;
	--color-green: #89a611;
	--color-black: #202020;
}
body {
	font-family: "Open Sans", sans-serif;
	font-size: 10px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: Kavivanar, cursive;
	font-weight: normal;
}
h2 {
	font-size: 2rem;
	color: #a51f10;
	margin: 0;
}
a {
	color: #da0090;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

/* MAIN Wrapper */
.wrapper {
	padding: 1rem 2rem;
}

/* HEADER */
.section-header {
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.leftheader a img {
	width: 8rem;
}
.rightheader {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.rightheader h1 {
	margin-bottom: 0;
	color: var(--color-pink);
	font-size: 3rem;
}
.rightheader p {
	margin-top: 0;
	font-size: 1rem;
}

/* NAVBAR */
nav {
	border-top: 1px solid var(--color-pink);
	border-bottom: 1px solid var(--color-red);
	margin: 1rem 0;
}
nav ul {
	display: flex;
	list-style-type: none;
	justify-content: center;
	flex-wrap: nowrap;
}
nav ul li {
	flex-basis: 10%;
	font-size: 0.8rem;
}
nav ul li a {
	color: var(--color-black);
}

/* ARTICLE */
article {
	/* display: flex; */

	margin: 3rem 0;
}
article:after {
	content: "";
	display: table;
	clear: both;
}

article img {
	border-radius: 10px;
	overflow: hidden;
	float: left;
	margin-right: 1rem;
}
article h2 {
}
article p {
	font-size: 1rem;
}
article p.posted {
	font-size: 0.8rem;
	color: var(--color-green);
}
article p a {
}

/* FOOTER */
footer {
	text-align: center;
	font-size: 0.8rem;
	border-top: 1px solid var(--color-pink);
}
footer p {
	border-top: 1px solid var(--color-red);
	margin-top: 4px;
	padding-top: 2rem;
}
footer ul {
	list-style-type: none;
	display: flex;
	justify-content: center;
}
footer ul li {
}
footer ul li a {
	margin: 2px;
}
